.header
  = render 'shared/header'
  
.body
  .category-body
    .bread-crumbs
      - breadcrumb :category_category_list
      = breadcrumbs pretext: "", separator: " &rsaquo; "
    .category-list-top
      カテゴリー一覧
    .toy-hobby-goods
      おもちゃ・ホビー・グッズ
    .toy-hobby-goods__all
      すべて
      .toy-hobby-goods__character
        = link_to category_character_goods_path, method: :get, class: "toy-hobby-goods__character__btn" do
          キャラクターグッズ
.footer
  = render 'shared/footer'

.exhibit 
  = render 'shared/exhibit'