.signup-login-wrapper

  = render partial: "common-header"

  .signup-main
    .signup-box
      .signup-box__title
        %h2 新規会員登録
      .signup-box__form
        = link_to "step1", class: "signup-box__form__btn signup-box__form__mail" do
          = fa_icon "envelope", class: "signup-box__form__btn__icon"
          メールアドレスで登録する
        = link_to "#", class: "signup-box__form__btn signup-box__form__facebook" do
          = fa_icon "facebook-square", class: "signup-box__form__btn__icon"
          Facebookで登録する
        = link_to "#", class: "signup-box__form__btn signup-box__form__google" do
          = fa_icon "google", class: "signup-box__form__btn__icon"
          googleで登録する

  = render partial: "common-footer"