.left-content
  .left-content__bar
    %ul.left-content__bar__list
      %li.left-content__bar__list__item
        = link_to "", "https://www.mercari.com/jp/mypage/notification/"
        マイページ
        = fa_icon "chevron-right",class: "left-content__bar__list__item--icon"

      %li.left-content__bar__list__item__side  
        = link_to "", "https://www.mercari.com/jp/mypage/notification/"
        お知らせ
        = fa_icon "chevron-right",class: "left-content__bar__list__item--icon"

      %li.left-content__bar__list__item__side 
        = link_to "", "https://www.mercari.com/jp/mypage/notification/"
        やることリスト
        = fa_icon "chevron-right",class: "left-content__bar__list__item--icon"

      %li.left-content__bar__list__item__side 
        = link_to "", "https://www.mercari.com/jp/mypage/notification/"
        いいね！一覧
        = fa_icon "chevron-right",class: "left-content__bar__list__item--icon"

      %li.left-content__bar__list__item__side 
        = link_to "", "https://www.mercari.com/jp/mypage/notification/"
        出品する
        = fa_icon "chevron-right",class: "left-content__bar__list__item--icon"  
  
      %li.left-content__bar__list__item__side 
        = link_to "", "https://www.mercari.com/jp/mypage/notification/"
        出品した商品 - 出品中
        = fa_icon "chevron-right",class: "left-content__bar__list__item--icon"

      %li.left-content__bar__list__item__side 
        = link_to "", "https://www.mercari.com/jp/mypage/notification/"
        出品した商品 - 取引中
        = fa_icon "chevron-right",class: "left-content__bar__list__item--icon"  

      %li.left-content__bar__list__item__side 
        = link_to "", "https://www.mercari.com/jp/mypage/notification/"
        出品した商品 - 売却済み
        = fa_icon "chevron-right",class: "left-content__bar__list__item--icon"
          
      %li.left-content__bar__list__item__side 
        = link_to "", "https://www.mercari.com/jp/mypage/notification/"
        購入した商品 - 取引中
        = fa_icon "chevron-right",class: "left-content__bar__list__item--icon"
      
      %li.left-content__bar__list__item__side 
        = link_to "", "https://www.mercari.com/jp/mypage/notification/"
        購入した商品 - 過去の取引
        = fa_icon "chevron-right",class: "left-content__bar__list__item--icon"

      %li.left-content__bar__list__item__side 
        = link_to "", "https://www.mercari.com/jp/mypage/notification/"
        ニュース一覧
        = fa_icon "chevron-right",class: "left-content__bar__list__item--icon"

      %li.left-content__bar__list__item__side 
        = link_to "", "https://www.mercari.com/jp/mypage/notification/"
        過去一覧
        = fa_icon "chevron-right",class: "left-content__bar__list__item--icon"
    
      %li.left-content__bar__list__item__side 
        = link_to "", "https://www.mercari.com/jp/mypage/notification/"
        ガイド
        = fa_icon "chevron-right",class: "left-content__bar__list__item--icon"

      %li.left-content__bar__list__item__side 
        = link_to "", "https://www.mercari.com/jp/mypage/notification/"
        問い合わせ
        = fa_icon "chevron-right",class: "left-content__bar__list__item--icon"  

      %h3.left-center-content
        メルペイ
    
      %li.left-content__bar__list__item__side 
        = link_to "", "https://www.mercari.com/jp/mypage/notification/"
        売上げ・振込申請
        = fa_icon "chevron-right",class: "left-content__bar__list__item--icon"

      %li.left-content__bar__list__item__side 
        = link_to "", "https://www.mercari.com/jp/mypage/notification/"
        ポイント
        = fa_icon "chevron-right",class: "left-content__bar__list__item--icon"  

      %h3.left-center-content
        設定

      %li.left-content__bar__list__item__side 
        = link_to "", "https://www.mercari.com/jp/mypage/notification/"
        プロフィール
        = fa_icon "chevron-right",class: "left-content__bar__list__item--icon"

      %li.left-content__bar__list__item__side 
        = link_to "", "https://www.mercari.com/jp/mypage/notification/"
        発送元・お届け先住所変更
        = fa_icon "chevron-right",class: "left-content__bar__list__item--icon"    
      
      %li.left-content__bar__list__item__side 
        = link_to "", "https://www.mercari.com/jp/mypage/notification/"
        支払い方法
        = fa_icon "chevron-right",class: "left-content__bar__list__item--icon"

      %li.left-content__bar__list__item__side 
        = link_to "", "https://www.mercari.com/jp/mypage/notification/"
        メール/パスワード
        = fa_icon "chevron-right",class: "left-content__bar__list__item--icon"  

      %li.left-content__bar__list__item__side 
        = link_to "", "https://www.mercari.com/jp/mypage/notification/"
        本人情報
        = fa_icon "chevron-right",class: "left-content__bar__list__item--icon"

      %li.left-content__bar__list__item__side 
        = link_to "", "https://www.mercari.com/jp/mypage/notification/"
        電話番号の確認
        = fa_icon "chevron-right",class: "left-content__bar__list__item--icon"  


      %li.left-content__bar__list__item__side 
        = link_to "", "https://www.mercari.com/jp/mypage/notification/"
        ログアウト
        = fa_icon "chevron-right",class: "left-content__bar__list__item--icon"

      

