
.right-content  
  .mypage-icon
    = link_to "" do
      %figure
        = image_tag "//static.mercdn.net/images/member_photo_noimage_thumb.png", alt: "my-icon", height: "60px", width: "60px"
      %h2 hiro
      .mypage-number
        %div 評価            
        %span.bold 0
        
        %div 出品数
        %span.bold 0 

  .mypage-list 
    .mypage-list__tag  
      %ul.mypage-list__tag__tags  
        %li.mypage-list__tag__tags__left
          %h3
            = link_to "" do
              お知らせ

        %li.mypage-list__tag__tags__right
          %h3
            やることリスト

    
    
    .mypage-content
      %ul.mypage-content-list
        %li
          %a.mypage-content-list__block
            %figure
              = image_tag "https://static.mercdn.net/images/mercari_profile.png",alt: "", width: "48", height: "48"
            .mypage-content-list__block__text
              .mypage-item-text 購入ごとに最大3％還元！お支払い方法は《メルペイスマート払い》が一番お得
              %time
                = fa_icon "clock-o"
                %span 7 時間前               
            = fa_icon "chevron-right",class: "chevron-right"

      
        %li
          %a.mypage-content-list__block
            %figure
              = image_tag "https://static.mercdn.net/images/mercari_profile.png",alt: "", width: "48", height: "48"
            .mypage-content-list__block__text
              .mypage-item-text 購入ごとに最大3％還元！お支払い方法は《メルペイスマート払い》が一番お得
              %time
                = fa_icon "clock-o"
                %span 7 時間前               
            = fa_icon "chevron-right",class: "chevron-right"    

      
        %li
          %a.mypage-content-list__block
            %figure
              = image_tag "https://static.mercdn.net/images/mercari_profile.png",alt: "", width: "48", height: "48"
            .mypage-content-list__block__text
              .mypage-item-text 購入ごとに最大3％還元！お支払い方法は《メルペイスマート払い》が一番お得
              %time
                = fa_icon "clock-o"
                %span 7 時間前               
            = fa_icon "chevron-right",class: "chevron-right"
    

      
        %li
          %a.mypage-content-list__block
            %figure
              = image_tag "https://static.mercdn.net/images/mercari_profile.png",alt: "", width: "48", height: "48"
            .mypage-content-list__block__text
              .mypage-item-text 購入ごとに最大3％還元！お支払い方法は《メルペイスマート払い》が一番お得
              %time
                = fa_icon "clock-o"
                %span 7 時間前               
            = fa_icon "chevron-right",class: "chevron-right" 
      
      
      
        %li
          %a.mypage-content-list__block
            %figure
              = image_tag "https://static.mercdn.net/images/mercari_profile.png",alt: "", width: "48", height: "48"
            .mypage-content-list__block__text
              .mypage-item-text 購入ごとに最大3％還元！お支払い方法は《メルペイスマート払い》が一番お得
              %time
                = fa_icon "clock-o"
                %span 7 時間前               
            = fa_icon "chevron-right",class: "chevron-right"


        %li.mypage-chart
          = link_to "" do
            一覧を見る
              

  .mypage-under-tab
    %h2.mypage-under-tab__list 
      購入した商品
      
    
    %ul.mypage-list__tag__tags
      %li.mypage-list__tag__tags__left
        %h3 
          = link_to "" do
            取引中

      %li.mypage-list__tag__tags__right
        %h3 
          過去の取引


    .mypage-under-content
      %ul.mypage-under-content__boxes
        %li.mypage-under-content__box1 
          取引中の商品がありません
      %ul.mypage-under-content__box
        %li.mypage-under-content__box2 
