.wrapper
  = render 'shared/header'
  = render 'mypage-menu-bar'
  .main
    = render 'mypage-main-identification'
    = render 'mypage-left-bar'
  .footer  
    = render 'shared/footer'

  .exhibit 
    = render 'shared/exhibit'