.header__contents
  .header__contents__top
    .header__contents__top__mark
      = image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", class: "logo"
    .header__contents__top__form
      = form_with local: true, class: :search do |f| 
        = f.text_area :contents, class: :plate, placeholder: '何かお探しですか？'
        .header__contents__top__form__search__logo
          = icon('fas', 'search', class: 'logo')

  .header__contents__down
    .header__contents__down__group
      .header__contents__down__group__click
        = icon('fas', 'bars', class: "search") 
        %p.word カテゴリーから探す
      .header__contents__down__group__click
        = icon('fas', 'tag', class: "search")
        %p.word ブランドから探す
    .header__contents__down__group
      .header__contents__down__group__click
        = icon('far', 'heart', class: "logo")
        %p.word いいね！一覧
      .header__contents__down__group__click
        = icon('far', 'bell', class: "logo")
        .count
        %p.word お知らせ
      .header__contents__down__group__click
        = icon('fas', 'check', class: "logo") 
        %p.word やることリスト
      .header__contents__down__group__click
        = image_tag src="profile.png" ,class: "profile"
        %p.word マイページ