
.header
  .header-inner
    .header-inner-top
      %h1
        = link_to "", "https://www.mercari.com/jp/"
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3609274330",width: "134"

      = form_tag('/search', method: :get, class: 'search-form') do
        %input.search-form__input{ placeholder: "何かお探しですか？"}
          = fa_icon "search",class: "search-form__icon"

    .header-menu
      %nav.header-left      
        %ul.header-left__menu
          %li                
            = fa_icon "list-ul", class: "header-left__menu--icon"
            = link_to "","https://www.mercari.com/jp/category/", class: "header-left__menu--btn"
            %span カテゴリーから探す
        %ul.header-left__menu
          %li           
            = fa_icon "tags", class: "header-left__menu--icon"
            = link_to "", "https://www.mercari.com/jp/category/", class: "header-left__menu--btn"
            %span ブランドから探す

      .header-right
        .header-link
          %ul.header-right__menu
            %li
              = fa_icon "heart-o",class: "header-right__menu--icon"
              %span いいね！一覧
            %li
              = fa_icon "bell" ,class: "header-right__menu--icon"
              %span お知らせ
            
            %li
              = fa_icon "check",class: "header-right__menu--icon"
              %span やることリスト
            
            %li
              = image_tag "//static.mercdn.net/images/member_photo_noimage_thumb.png", alt: "", width: "32", height: "32"
              %span マイページ


