.product-show-body__buy__top__status
  .product-show-body__buy__top__status__boxs
    .product-show-body__buy__top__status__boxs__key 出品者
    .product-show-body__buy__top__status__boxs__value
      %p
      = link_to user_path(:id), class: "top" do
        = @product.user.nickname
      .product-show-body__buy__top__status__boxs__value__down
        .product-show-body__buy__top__status__boxs__value__down__evalution
          = fa_icon 'smile-o', class: "good"
          %p.count 10
        .product-show-body__buy__top__status__boxs__value__down__evalution
          = fa_icon 'meh-o', class: "normal"
          %p.count 1000
        .product-show-body__buy__top__status__boxs__value__down__evalution
          = fa_icon 'frown-o', class: "bad"
          %p.count 10
  .product-show-body__buy__top__status__box
    .product-show-body__buy__top__status__box__key カテゴリー
    .product-show-body__buy__top__status__box__value-category 
      %p 家電・スマホ・カメラ
      %p >オーディオ機器
      %p >マイク
  .product-show-body__buy__top__status__box
    .product-show-body__buy__top__status__box__key ブランド
    = @brand.name
    //= render partial: 'products/layouts/item-details', locals: { name: brand_id }

  .product-show-body__buy__top__status__box
    .product-show-body__buy__top__status__box__key 商品のサイズ
    .product-show-body__buy__top__status__box__value 
      = @product.product_size    


  .product-show-body__buy__top__status__box
    .product-show-body__buy__top__status__box__key 商品の状態
    .product-show-body__buy__top__status__box__value 
      = @product.condition

  .product-show-body__buy__top__status__box
    .product-show-body__buy__top__status__box__key 配送料の負担
    .product-show-body__buy__top__status__box__value 
      = @product.shipping_charge

  .product-show-body__buy__top__status__box
    .product-show-body__buy__top__status__box__key 配送の方法
    .product-show-body__buy__top__status__box__value 
      = @product.shipping_method

  .product-show-body__buy__top__status__box
    .product-show-body__buy__top__status__box__key 配送元地域
    .product-show-body__buy__top__status__box__value
      = @product.delivery_area 
      
  .product-show-body__buy__top__status__box
    .product-show-body__buy__top__status__box__key 発送日の目安
    .product-show-body__buy__top__status__box__value
      = @product.estimated_delivery