.sell-container
  .sell-header
    %h1
      = link_to "", "https://www.mercari.com/jp/"
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3609274330",width:'185', height:'49'
  .sell-body
    .image
    = form_with model: @product, local: true do |f|
      .sell-body__top
        商品の情報を入力
      .product-image
        .product-image__title 
          出品画像
          %span.product-image__require 必須
          .product-image__detail
            最大10枚までアップロードできます
          = f.text_area :image_url, placeholder: "ドラッグアンドドロップ", class: "product-image__dropbox"
          .product-image__detail
        .product-image__dropbox
          ドラッグアンドドロップ　
          %br 
          またはクリックしてファイルをアップロード
      .product-description
        .product-name
          .product-name__title
            商品名
            %span.product-name__require 必須
          = f.text_area :name, placeholder: "商品名", class: "product-name__box"
        .product-info
          .product-info__title
            商品の説明
            %span.product-info__require 必須
          = f.text_area :text, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", class: "product-info__box"
      .product-detail
        .product-detail__title
          商品の詳細
        .product-category
          カテゴリー
          %span.product-category__require 必須
        = f.collection_select :product, @products, :name, :name, {prompt: "--"},{class: "product-category__box"}
        .product-childcategory
        .product-grandchildcategory
        .product-condition
          商品の状態
          %span.product-condition__require 必須
        = f.collection_select :product, @products, :condition, :conditon, {prompt: "--"},{class: "product-condition__box"}

      .delivery
        .delivery__title
          配送について
        .delivery-burden
          配送料の負担
          %span.delivery-burden__require 必須
        = f.text_area :condition, placeholder: "--", class: "delivery-burden__box"
          
        .delivery-area
          発送元の地域
          %span.delivery-area__require 必須
        = f.text_area :condition, placeholder: "--", class: "delivery-area__box"
        
        .delivery-days
          発送までの日数
          %span.delivery-days__require 必須
        = f.text_area :condition, placeholder: "--", class: "delivery-days__box"
      .sale
        .sale__title
          販売価格(300〜9,999,999)
        .sale__price
          価格
          %span.sale__price__require 必須
        = f.text_area :condition, placeholder: "例） 300", class: "price-box"
        .sale-yen
          
        .sale__commission
          .sale__commission__text 販売手数料(10％)　　　　　　　　　　　　　　　　　　　　-
        .sale__profit
          .sale__profit__text 販売利益　　　　　　　　　　　　　　　　　　　　-
      .exhibition
        %p 禁止されている出品、行為を必ずご確認ください。
        %p またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であ
        %p り処罰される可能性があります。
        %p また、出品をもちまして加盟店規約に同意したことになります。
        = f.submit "出品する", class: "exhibition__button"
        .exhibition__back__button
          %p もどる
  
  .sell-footer
    .sell-footer__policy
      プライバシーポリシー　メルカリ利用規約　特定商取引に関する表記
    .mercari-rogo
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?3649802486",width:"80",height:"65"
      .mercari-rogo__end
        ©︎ Mercari, Inc.