.header
  = render 'views/shared/header'

.body
  = render 'views/layouts/category'
  = render 'views/layouts/brand'

.footer
  = render 'views/shared/footer'

.exhibit 
  = render 'views/shared/exhibit'