.header
  = render 'shared/header'
.product-show-body
  .product-show-body__buy
    .product-show-body__buy__title 
      = @products.name
    .product-show-body__buy__top
      = render 'making/layouts/photo'
      = render 'making/layouts/status'
    .product-show-body__buy__price
      %a.value 
        %p ￥#{@products.price}
      .product-show-body__buy__price__describe
        %p.tax (税込）
        %p.text 送料込み
    .product-show-body__buy__btn
      購入画面に進む
    .product-show-body__buy__description
      = @products.text
    .product-show-body__buy__comment
      .product-show-body__buy__comment__left
        .product-show-body__buy__comment__left__text
          = fa_icon "heart-o"
          %p.click いいね！
        .product-show-body__buy__comment__left__text
          = fa_icon 'flag'
          %p.click 不適切な商品の報告
      .product-show-body__buy__comment__right
        .product-show-body__buy__comment__right__text
          = fa_icon 'lock'
          安心安全への取り組み
  .product-show-body__message
    %p.alert 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .form
      = form_tag('/message', method: :get, class: 'message-form')
    .btn
      コメントする
  .product-show-body__sns
    .product-show-body__sns__click
      = link_to '#' do
        = fa_icon 'facebook-square', class: "facebook"

      = link_to '#' do  
        = fa_icon 'twitter-square', class: "twitter"

      = link_to '#' do   
        = fa_icon 'pinterest-square', class: "pinterest"
        
  .product-show-body__other
    =render 'making/layouts/other-me'
    =render 'making/layouts/other-category'
.footer
  = render 'shared/footer'