.header
  = render 'shared/header'
.product-show-body
  .product-show-body__buy
    .product-show-body__buy__title 
      = @product.name
    .product-show-body__buy__top
      = render 'products/layouts/photo'
      = render 'products/layouts/status'
    .product-show-body__buy__price
      %a.value 
        %p ￥#{@product.price}
      .product-show-body__buy__price__describe
        %p.tax (税込）
        %p.text 送料込み

  .details-content  
    .details-box
      %h1 商品の編集
    .details-box__which  
      %p or
    .details-box
      %h1 出品を再開する
    .delete
      %p
        = link_to product_path(@product.id), method: :delete, data: { confirm: "削除しますか？" } do
          この商品を削除する
    
  
  .product-show-body__sns
    .product-show-body__sns__click
      = link_to '#' do
        = fa_icon 'facebook-square', class: "facebook"

      = link_to '#' do  
        = fa_icon 'twitter-square', class: "twitter"

      = link_to '#' do   
        = fa_icon 'pinterest-square', class: "pinterest"
        
  .product-show-body__other
    =render 'products/layouts/other-me'
    =render 'products/layouts/other-category'
.footer
  = render 'shared/footer'