.header
  = render 'shared/header'
  
.body
  = image_tag src= "https://i.gyazo.com/01ac19704a50a8f1fb2d5fa8351bc1b2.jpg",class: "body__screen"
  = render 'products/layouts/category'
  = render 'products/layouts/brand'

.footer
  = render 'shared/footer'

.exhibit 
  = render 'shared/exhibit'