.header
  = render 'shared/header'
.product-show-body
  .product-show-body__buy
    .product-show-body__buy__title 
      = link_to details_product_path(@product) do
        = @product.name
    .product-show-body__buy__top
      = render 'products/layouts/photo'
      = render 'products/layouts/status'
    .product-show-body__buy__price
      %a.value 
        %p ￥#{@product.price}
      .product-show-body__buy__price__describe
        %p.tax (税込)
        %p.text 送料込み
    
    - if user_signed_in?

      - if current_user.id != @product.user_id
        = render 'products/purchase-btn'

    - else
      = render 'products/purchase-btn'
      
  - if user_signed_in?
    - if current_user.id == @product.user_id
      = render 'products/edit-delete-btn'

    - else
      = render 'products/comment'

  - else         
    = render 'products/comment'

  .product-show-body__sns
    .product-show-body__sns__click
      = link_to '#' do
        = fa_icon 'facebook-square', class: "facebook"

      = link_to '#' do  
        = fa_icon 'twitter-square', class: "twitter"

      = link_to '#' do   
        = fa_icon 'pinterest-square', class: "pinterest"
        
  .product-show-body__other
    =render 'products/layouts/other-me'
    =render 'products/layouts/other-category'
.footer
  = render 'shared/footer'